{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load blog_tags %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="untree_co-section product-section before-footer-section">
    <div class="container d-flex flex-column flex-lg-row">
        <!-- Products Grid -->
        <div class="row col-12 col-lg-9 ps-lg-4">
            {% for object in filter.qs %}
            {% if object.type == 1 %}
            <style>
                #item {
                        {
                        object.pk
                    }
                }

                    {
                    border: 3px solid green;
                }

                ;
            </style>
            {% endif %}
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="product-item-wrapper">
                    <div class="product-actions">
                        {% if object.type == 1 %}
                        {% if request.user.subscription != 1 %}
                        <a class="product-item">
                            {% else %}
                            <a class="product-item" href="#" id="item{{ object.pk}}" , onclick="AlertGetSubscription()">
                                {% endif %}
                                {% else %}
                                <a class="product-item" href="">

                                    {% endif %}
                                    <div class="product-image-container">
                                        <div class="product-badge text-center p-2">
                                            {{ object.name }}
                                            <hr>
                                            <h4 class="price-formatted">{{ object.price|intcomma }} تومان</h4>
                                            {% if object.is_discounted %}
                                            <span class="badge">%{{ object.discount_percent }} تخفیف</span>
                                            <br>
                                            <span class="badge">مبلغ : {{ object.get_price_after_sale|intcomma }}
                                                تومان</span>
                                            {% endif %}

                                        </div>

                                    </div>

                                </a>

                    </div>
                </div>
                <form action="{% url 'payment:request-payment' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" style="border: none;" name="amount" value="{{ object.price }}" id="">
                    <input type="hidden" style="border: none;" name="subs_id" value="{{ object.id }}" id="">
                    <button class="btn" style="float: left; margin: 20px;" dir="rtl">درخواست خرید ..</a>
                </form>
            </div>
            {% endfor %}
        </div>
        {% include 'include/subs-filter.html' %}
    </div>


    <!-- Pagination -->
    {% if is_paginated %}
    <div class="row mt-5">
        <div class="col-12">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <button class="page-link" onclick="ChangePage(`{{ page_obj.next_page_number }}`)"
                            aria-label="Next">
                            <span aria-hidden="true">
                                <i class="bi bi-chevron-left"></i>
                            </span>
                        </button>
                    </li>
                    {% endif %}

                    {% for i in page_obj.paginator.page_range %}
                    {% if i == page_obj.number %}
                    <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                    {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %} <li class="page-item">
                        <button class="page-link" onclick="ChangePage(`{{ i }}`)">{{ i }}</button></li>
                        {% endif %}
                        {% endfor %}

                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <button class="page-link" onclick="ChangePage(`{{ page_obj.previous_page_number }}`)"
                                aria-label="Previous">
                                <span aria-hidden="true">
                                    <i class="bi bi-chevron-right"></i>
                                </span>
                            </button>
                        </li>
                        {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block extra_js %}{% endblock %}