{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}



{% block title %}خانه{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/gpt_style.css' %}">
{% endblock %}


{% block content %}


<main class="site-main">
  <!--================Hero Banner start =================-->
  <section class="mb-30px">
    <div class="container">
      <div class="hero-banner">
        <div class="hero-banner__content">
          <h3>سلام به فهیم وب خوش آمدید</h3>
          <h1>مرجع تخصصی آموزش برنامه نویسی</h1>
          <h4>تیر ۱۴۰۴</h4>
        </div>
      </div>
    </div>
  </section>
  <!--================Hero Banner end =================-->

  <!--================ Blog slider start =================-->
  <section>
    <div class="container">
      <div class="owl-carousel owl-theme blog-slider">
        {% show_premium_blog %}
      </div>

    </div>
  </section>
            {% include 'website/navbar.html' %}

</main>


{% endblock %}
{% block extra_js %}
{% endblock %}