{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load shop_tags %}

{% block title %}{% endblock %}
{% block extra_css %}{% endblock %}

{% block content %}
<section>
    <div class="container">
        <h1 class="m-5 text-right" dir="rtl">اشتراک های مجموعه فهیم وب :</h1>

        <div class="owl-carousel owl-theme blog-slider" >
                <div class="products-grid">
                    
                    <div class="product-card-body text-center" >
                            <form action="{% url 'payment:request-payment' %}" method="post">
                                {% csrf_token %}
                            <a class="product-card-title" style="font-size: 20px;text-align: center;font-weight: bold; text-decoration: none;color: black;">10 روزه</a>
                            <br>
                            <input type="number" style="border: none;" name="amount" value="110000" id="" readonly>
                            <input type="text" style="border: none;" name="subs_type" value="2"  hidden>
                            <button class="btn" style="float: left; margin: 20px;" dir="rtl">درخواست خرید ..</a>
                            </form>
                        </div>
                </div>
                <div class="products-grid">
                    
                    <div class="product-card">
                      <div class="product-card-body text-center">
                            <form action="{% url 'payment:request-payment' %}" method="post">
                                {% csrf_token %}
                            <a class="product-card-title" ref="{% url 'shop:blog-grid' %}" style="font-size: 20px;text-align: center;font-weight: bold; text-decoration: none;color: black;">15 روزه</a>
                            <br>
                            <input type="text" style="border: none;" name="amount" value="130000" id="">
                            <input type="text" style="border: none;" name="subs_type" value="3"  hidden>

                            <button class="btn" style="float: left; margin: 20px;" dir="rtl">درخواست خرید ..</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="products-grid">
                    
                    <div class="product-card">
                        <div class="product-card-body text-center">
                            <form action="{% url 'payment:request-payment' %}" method="post">
                                {% csrf_token %}
                            <a class="product-card-title" style="font-size: 20px;text-align: center;font-weight: bold; text-decoration: none;color: black;">30 روزه</a>
                            <br>
                            <input type="text" style="border: none;" name="amount" value="330000" id="">
                            <input type="text" style="border: none;" name="subs_type" value="4"  hidden>

                            <button class="btn" style="float: left; margin: 20px;" dir="rtl">درخواست خرید ..</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="products-grid">
                    
                    <div class="product-card">
                        <div class="product-card-body text-center">
                            <form action="{% url 'payment:request-payment' %}" method="post">
                                {% csrf_token %}
                            <a class="product-card-title" style="font-size: 20px;text-align: center;font-weight: bold; text-decoration: none;color: black;">60 روزه</a>
                            <br>
                            <input type="text" style="border: none;" name="amount" value="660000" id="">
                            <input type="text" style="border: none;" name="subs_type" value="5"  hidden>

                            <button class="btn" style="float: left; margin: 20px;" dir="rtl">درخواست خرید ..</a>
                            </form>
                        </div>
                    </div>
                </div>
        </div>

    </div>

</section>
{% endblock %}


{% block extra_js%}{% endblock %}h