{% load static %}
{% load humanize %}
{% for blog in premium_blog %}

     <!-- محصولات مرتبط -->
     <div class="related-products" style="margin-bottom: 20rem;border: 3px solid green; padding: 10px;height: 30rem;overflow: hidden;">
        <h2 class="section-title text-center text-success">محصولات ویژه</h2>     <span>{{ blog.discount_percent }}% تخفیف</span>
            <div class="products-grid"> 
                <div class="product-card">
                    <img src="{{blog.image.url}}" alt="محصول مرتبط 1" class="product-card-img" style="border-radius: 10px;height: 300px;">
                    <div class="product-card-body text-center">
                        <a class="product-card-title" href="{% url 'blog:blog-detail' pk=blog.id %}" style="font-size: 20px;text-align: center;font-weight: bold; text-decoration: none;color: black;">{{ blog.title }}</a>                       
                           <div class="product-card-price price-formatted" style="font-size: 15px;text-align: center;">{{ blog.price|intcomma }} تومان</div>
                        <a href="{% url 'blog:blog-detail' pk=blog.id %}" style="float: left; margin: 20px;" dir="rtl">ادامه ...</a>
                    </div>
                </div>
            </div>

        </div>

{% endfor %}
